@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Restaurant Rater</h1>
    <p class="lead">Restaurant rater is a free app that allows you to come in and rate restaurants of your choice.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            Click on the navbar above to rate a restaurant or the button below.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Rate A Restaurant &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Get more information</h2>
        <p>click here to learn more about our site.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Contact us</h2>
        <p>click the link below to be able to contact us.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>